In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from collections import Counter
import tensorflow as tf
from tensorflow.keras import layers,models

import os
import pickle
import re
from tensorflow.python.ops import math_ops

In [3]:
title_count, title_set, genres2int, genres_set, features, targets_values, ratings, users, movies, data, movies_orig, users_orig = pickle.load(open('/Users/zhenwuzhou/.keras/datasets/preprocess.p', mode='rb'))

In [4]:
movies

,MovieID,Title,Genres
0,1,"[4144, 1944, 5020, 5020, 5020, 5020, 5020, 502...","[8, 16, 9, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,..."
1,2,"[813, 5020, 5020, 5020, 5020, 5020, 5020, 5020...","[5, 16, 12, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3..."
2,3,"[4373, 3471, 2388, 5020, 5020, 5020, 5020, 502...","[9, 15, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,..."
3,4,"[2095, 35, 2202, 5020, 5020, 5020, 5020, 5020,...","[9, 14, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,..."
4,5,"[587, 698, 2143, 3711, 3247, 3454, 5020, 5020,...","[9, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
...,...,...,...
3878,3948,"[1848, 2143, 3087, 5020, 5020, 5020, 5020, 502...","[9, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3879,3949,"[2718, 2568, 5143, 5110, 5020, 5020, 5020, 502...","[14, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,..."
3880,3950,"[2513, 5020, 5020, 5020, 5020, 5020, 5020, 502...","[14, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,..."
3881,3951,"[4404, 2816, 4527, 5020, 5020, 5020, 5020, 502...","[14, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,..."
3882,3952,"[4301, 1897, 5020, 5020, 5020, 5020, 5020, 502...","[14, 18, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3..."